<h3> Welcome to our website </h3>

<div>
  New users please click here to register.
  <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary" %> <br><br>

  Registered users plese click here to sign in.
  <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %> 
</div>