<h3 align="center"> Welcome to our leave management website </h3><br>

<div align="center">
 
 <b> Please click here to sign in </b>
  <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %> 
</div>